

<table class="table table-striped table-condensed">
  <tr>
    <th>List name</th>
    <th>Due date</th>
    <th>Note</th>
  <tr>
    <td><%= @todo.name %></td>
    <td><%= @todo.duedate %></td>
    <td><%= simple_format(@todo.note) %></td>
  </tr>
</table>

<%= link_to 'Back to index', todos_path %>